@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Serif", serif;
  /* font-family: 'Kanit', sans-serif; */
}

.header {
  background-image: url("./assets/images/homepagecover2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  filter: brightness(130%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid white;
}

.logo {
  background-color: antiquewhite;
  background: #000;
  /* width: 100%; */
}
.logo img {
  width: 100px;
}

.nav-items {
  width: 60rem;

}

.nav-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* width: 100%; */
}

.nav-items ul li {
  font-size: 21px;
  font-weight: 600;
  /* border-right: 2px solid white; */
  padding-right: 4rem;
  position: relative;
}

.nav-items ul li:not(:last-of-type)::after {
  content: "";
  height: 20px;
  width: 2px;
  background-color: white;
  position: absolute;
  top: 7px;
  right: 10px;
}

.bars {
  /* background: #7a7979; */
  /* width: 100%; */
  /* margin-right: 0; */
}

.bars img {
  width: 40px;
}

.main-info {
  /* background-color: rgb(225, 163, 81); */
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 50px;
  /* background-color: aquamarine; */
  font-size: 30px;
  color: white;
}

.sub-info {
  /* background: #8c8787; */
  width: 500px;
  height: 25rem;
  text-align: right;
  padding: 20px;
}

.lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2rem;
}

.underline-1 {
  width: 50%;
  height: 1rem;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 1.2rem;
}

.underline-2 {
  width: 100%;
  height: 1rem;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 1.2rem;
}

.underline-3 {
  width: 60%;
  height: 1rem;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 15px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
}

.btns button {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 20px;
  margin-left: 5px;
}

button:nth-child(2) {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

iframe {
  height: 400px;
  width: 600px;
}


/* sidebar */
.sidebar {
  width: 300px;
  background-image: linear-gradient(to bottom right, #01a0fb, #09c289);
  box-shadow: 1px 0 30px rgba(99, 98, 98, 0.327);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 200;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: all 0.3s linear 0s;
}

.sidebaractive {
  transform: translate(0%) !important;
}

ul.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

ul.nav-links li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: none;
}


/* RESPONSIVENESS */  
@media screen and (max-width: 850px) {
  .nav-items ul li {
    font-size: 16px;
  }
} 

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
} 

@media screen and (max-width: 600px) {
  iframe {
    width: 440px;
    height: 320px;
  }
} 

@media screen and (max-width: 480px) {
  iframe {
    width: 400px;
    height: 250px;
  }
} 

@media screen and (max-width: 420px) {
  iframe {
    width: 340px;
    height: 240px;
  }
} 